body {
	font-family: "Inconsolata","Menlo",monospace;
	background-color:#EEE;
}

#main {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top:25px;
	font: 400 17px/1.62 "Inconsolata","Menlo",monospace;
}

.pager {
	font-size: 12px;
}

.box {
	background-color:white;
	border-radius:3px;
	margin-bottom:20px;
	box-shadow:0px 0px 0px 1px #DDD;
	overflow:hidden;
	padding:14px;
	border-bottom:2px solid #e2e2e9;
	word-break:break-all;
}

.box header {
	margin-bottom:20px;
	padding-bottom:10px;
	border-bottom:1px solid #DDD;
	font-weight:bold;
	font-size:20px;
}

.box header img{
	width: 18px;
}

.box ol{
	margin: 0px 0px 24px 6px;
	padding-left: 16px;
}

.box li{
	padding-top: 5px;
	padding-bottom: 5px;
}

.box .tags{
	list-style: none;
	margin: 0;
	padding: 0;
}

#posts {
	list-style-type:none;
}

#posts li{
	padding-top:5px;
	padding-bottom:5px;
}

#posts li a{
	padding-left:10px;
	color: #111;
	font-size:18px;
}

#posts li .date{
	font-style: italic;
	color: #808080;
	margin-right: 10px;
}

#footer {
	text-align:center;
	margin-top:20px;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid rgba(0,0,0,0.1);
}

#footer a{
	color:gray;
	font-weight:bold;
}

.post h1#title{
	text-align:center;
	font-size: 1.8em;
	margin: 0.67em 0px;
	color: #222223;
	font-weight:bold;
}

.post>.date{
	text-align:center;
	font-style: italic;
	color: #808080;
}

.post article{
	padding-top:30px;
	border-top:1px solid rgba(0,0,0,0.1);
	display: block;
}

.post .tags{
	color:gray;
	font-style:italic;
	font-size:0.9em;
}

.post .tags a{
	color:gray;
}

.post p{
	margin-top: 0px;
	margin-bottom: 1.64em;
}

.post h3 {
    font-size: 1.17em;
    font-weight:bold;
    margin: 1em 0px;
    color: #222223;
}

.post ul {
    list-style-type: square;
}

.post code{
    color: #808080;
    font-size: 0.96em;
    background-color: #F9F9F7;
    padding: 1px 2px;
    border: 1px solid #DADADA;
    border-radius: 3px;
    font-family: "Microsoft YaHei",monospace;
}

.post pre{
	padding: 7px;
	border: 1px solid #DADADA;
	border-radius: 4px;
	overflow: auto;
	line-height: 1.5;
	font-size: 0.96em;
	font-family: "Inconsolata","Menlo",monospace;
	color: #4C4C4C;
	background-color: #F9F9F7;
}