{% from "utils.html" import analytics %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block head %}{% endblock %}
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ static_url("css/bootstrap.min..css") }}" type="text/css" />
    <link rel="alternate" type="application/rss+xml" href="{{ url_for('feed') }}" title="{{ site.name }}" />
    <link rel="canonical" href="{{ permalink }}"/>
    {{ analytics() }}
</head>
<body>

<div class="navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url_for('index') }}" class="navbar-brand">{{ site.name }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tags<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% for tag in generator.tags %}
                        <li><a href="{{ url_for(tag) }}">{{ tag.name }} ({{ tag.count }})</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% for page in pages %}
                <li><a href="{{ url_for(page) }}">{{ page.title }}</a></li>>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


<div id="content">
    {% block content %}
    {% endblock %}
</div>

<div class="col-md-12" id="footer">
    Powered by <a href="http://github.com/whtsky/catsup">Catsup</a>
    <span>&bull;</span>
    Theme <a href="https://github.com/whtsky/catsup-theme-clean">Clean</a> by <a href="http://whouz.com">whtsky</a>
</div>
</body>
</html>


