{% extends 'layout.html' %}

{% block content %}
<div class="col-md-8">
    <ol id="posts">
        {% for post in pagination.items %}
        <li>
            <span class="date">{{ post.datetime.strftime("%b %d, %Y") }}</span> <a href="{{ url_for(post) }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ol>

    {% if pagination.has_prev %}
<a id="prev" href="{{ pagination.prev_permalink }}" class="v_nav" >
    <span class="icon">Prev</span>
</a>
{% endif %}

{% if pagination.has_next %}
<a id="next" href="{{ pagination.next_permalink }}" class="v_nav" >
    <span class="icon">Next</span>
</a>
{% endif %}
</div>



{% endblock %}
